%canvas(style='border:1px dotted; width:280px; height:200px')

= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
= javascript_include_tag 'swfobject', 'FABridge', 'web_socket', 'application'
