%canvas(style='border:1px dotted; width=2800px; height=2000px')

= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
= javascript_include_tag 'swfobject', 'FABridge', 'web_socket', 'application'
